@import '../index.scss';

.banner{
    @include flex;
    @include max-width;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/images/banner-image.png');
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    height: 225px;
    margin: 43px auto;
    position: relative;
    @media screen and (max-width: 900px) {
        @include max-width-mobile;
        height: 115px;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 20px;
        justify-content: start;
        padding: 15px;
    }
    &_about{
        @include flex;
        @include max-width;
        border-radius: 25px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/images/banner-image-about.png');
        background-position: center;
        background-size: cover;
        height: 223px;
        padding: 20px;
        margin: 43px auto;
        @media screen and (max-width: 900px) {
            @include max-width-mobile;
            margin-bottom: 15px;
        }
    }
    &_content{
        font-size: 24px;
        color: #FFFFFF;
        font-size: 48px;
        font-weight: 500;
        @media screen and (max-width: 900px) {
            width: 58%;
            font-size: 24px;
        }
    }
}