@import '../utils/mixin';
@import '../settings';

.gallery{
    margin: 0 auto;
    @include max-width;
    background-color: #F7F7F7;
    border-radius: 25px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 50px 60px; 
    padding: 55px 50px;
    @media screen and (max-width: 900px) {
        @include flex;
        @include max-width-mobile;
        background-color: #FFFFFF;
        flex-wrap: wrap;
        gap: 20px; 
        padding: 0px;
    }
    &_card{
        position: relative;
        height: 100%;
        min-height: 340px;
        border-radius: 10px;
        &_title{
            max-width: 275px;
            position: absolute;
            bottom: 20px;
            left: 20px;
            color: $text-color;
            font-size: 18px;
        }
        @media screen and (max-width: 900px) {
            min-height: 255px;
        }
    }
    img{
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        &:hover{
            background-color: linear-gradient(180deg, #ff6060 85%, #000000a6 100%);
            opacity: 0.50;
        }
        @media screen and (max-width: 900px) {
            min-height: 255px;
        }
    }
}