@import '../index.scss';

.gallery{
    margin: 0 auto;
    @include max-width;
    background-color: #F7F7F7;
    border-radius: 25px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 50px 60px; 
    padding: 55px 50px;
    @media screen and (max-width: 900px) {
        @include flex;
        @include max-width-mobile;
        background-color: #FFFFFF;
        flex-wrap: wrap;
        gap: 20px; 
        padding: 0px;
    }
}