@import '../settings';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include max-width;
    margin: 0 auto;
    margin-bottom: 40px;
    nav{

        &_active{
            border-bottom: 1px solid $main-color;
        }
    }

}

.nav{
    display: flex;
    align-items: center;
    gap: 57px;
    &_item{

        &_active{
            position: relative;
            color: $main-color;
            transition: all 0.2s ease-in-out;
            text-decoration: underline solid $main-color; 
        }
    }

}