@import '../settings';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include max-width;
    margin: 0 auto;
    margin-bottom: 40px;
    nav{

        &_active{
            border-bottom: 1px solid $main-color;
        }
    }
    @media screen and (max-width: 900px){
        @include max-width-mobile;
        margin-bottom: 10px;
        height: 40px;
        img{
            height: 40px;
        }
    }
    @media screen and (max-width: 314px) {
        img{
            height: 20px;
        }
    }

}

.nav{
    display: flex;
    align-items: center;
    gap: 57px;
    &_item{

        &_active{
            position: relative;
            color: $main-color;
            transition: all 0.2s ease-in-out;
            text-decoration: underline solid $main-color; 
        }
    }
    @media screen and (max-width: 900px){
        gap: 20px;
        a {
            font-size: 12px;
        }
    }
    @media screen and (max-width: 314px) {
        a {
            font-size: 10px;
        }
    }
}