.gallery{
    @include flex(row, space-around, center);
    flex-wrap: wrap;
    background-color: #F7F7F7;
    max-width: 90%;
    margin: 43px auto;
    gap: 60px;
    padding-top: 56px;
    border-radius: 25px;
    &_card{
        border: black 1px solid;
        position: relative;
        width: 340px;
        min-width: 340px;
        height: 340px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        border-radius: 10px;
        padding: 20px;
        &_title{
            max-width: 275px;
            position: absolute;
            bottom: 20px;
            left: 20px;
            color: $text-color;
            font-size: 18px;
        }
    }
}